/*font family*/
@font-face {
    font-family: 'avenir';
    src: url('fonts/nunito-regular-webfont.woff2') format('woff2'),
         url('fonts/nunito-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'avenir bold';
    src: url('fonts/nunito-semibold-webfont.woff2') format('woff2'),
         url('fonts/nunito-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*Désactivation ddes outline */

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


#logo:hover{
	opacity:0.7;
}

article.home .thumbnail{
	width: 100%;
}

/*font-family: 'Roboto', sans-serif;*/

article.home .links .namerating {
	padding-top: 10px;
}

article.home .links .namerating p{
	font-size: 12px;
	line-height: 2px;
}

/*products titles on homepage*/

h3.product_title{
	font-size: 16px;
	font-family: 'avenir bold';
	font-weight: 700;
	letter-spacing: 2px;
}

h4.product_category{
	text-transform: uppercase;
	font-size: 10px;
	font-family: 'roboto',
	font-weight: 100;
	color: grey;
}

/*notation stars*/

.fa.fa-star {
    color: transparent;
    -webkit-text-stroke: 1px;
	-webkit-text-stroke-color: black;
	font-size: 9px;
}

.fa.fa-star.checked {
  color: black;
  background-color: none;
}


/*products cart*/

.product_cart img{
	float: right;
}

a.quick_cart_link:hover{
	opacity: 0.6;
}

.product_cart img {
    float: right;
    width: 20px;
    top: -20px;
}

/*thumbnails & thumbnail images*/

article.home .thumbnail img {
    width: inherit;
    object-fit: cover;
    height: 14em;
}

article.home {

}


/*deux divs  en float left pour su'elles soient parralèles*/

.namerating{
	width: 50%;
	float: left;
	padding-left: 1em;
}

.price-links{
	padding-top: 5px;
	width: 50%;
	float: left;
	text-align: right;
	padding-right: 1em;
}


/*navbar*/
.navbar-light .navbar-toggler {
    color: black;
    border: none;
}

/*navbar desktop*/
.nav-container {
    display: flex;
    list-style-type: none;
    padding-top: 2em;
    padding-left: 0px;
    font-family: 'avenir';
}

.nav-item a {
	color: black;
	text-decoration: none;
	margin-right: 2em;
	font-size: 13px;
}

.nav-item a:hover {
	color: grey;
	transition-duration: 0.5s;
}

/*navbar-button*/
.navbar{
        padding-top: 2em;
        padding-right: 0rem;
        padding-bottom: 0rem;
        margin-left: auto;
       	margin-right: auto
}

.navbar-toggler {
    padding: 0px;
}

/*quick access*/
.quick-access {
	padding-top: 1%;
	padding-bottom: 3%;
}

/*Filter by*/
.filterby{
	color: grey;
	font-size: 12px;
}

/*searchbar & searchbar button*/

.form-inline.my-2.my-lg-0{
    padding: 1rem 0;
}

.form-control.mr-sm-2 {
    padding-left: 0px;
    margin-right: auto;
    width: 100%;
    border-radius: 0px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: none;
    font-weight: 700;
    font-size: 19px;
    letter-spacing: 1px;
}


button.btn-outline-success {
  background-image: url(images/Search.png);
  background-repeat: no-repeat;
  background-position: 80% 50%;
  /* put the height and width of your image here */
  height: 50px;
  width: 100%;
  border: none;
  background-color: transparent;
  
}

button.btn-outline-success:hover {
opacity: 0.4;
background-color: transparent;
}

.label-search{
    width: 100%;
    font-size: 10px;
    border-bottom: 1px solid black;
}
img.powered-by{
    margin-left: 15px;
}
div.loupe button{
    padding: 0px
}
span.powered-by{
    white-space: nowrap;
}


/*dropdown best match*/
.btn.homepage-widget-button.search-drop{
    border-bottom: none;
}
.label-search.search-drop{
    border-bottom: 1px solid lightgray;
    padding-bottom: 2px;
}

img.d-block.w-50{
    display: flex;
    float: left;
    height: 400px;
    width: 600px;
    padding: 2%;
}
#carouselExampleIndicators{
    background-color: lightgrey;
    padding: 2%;
}

/*homepage filterss*/
.homepage-widget{
	border-bottom: 1px solid lightgrey;
}

.btn.homepage-widget-button {
    color: black;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    width: 100%;
    text-align: left;
    font-family: "avenir";
    padding-left: 0px;
    padding-bottom: 0px;
}

.card {
    border: none;
}



.btn.homepage-widget-button::after {
  content:url(images/expand-arrow.png);
  float: right;
  width: 3px;
}


.hider {
	overflow-y: scroll;
	height:300px;
	padding: 20px;
}

ul.widget-checkboxes{
	list-style-type: none;
}

.rangetitle {
    padding-left: 0.8em;
    padding-top: 0.3em;
    font-size: 15px;
}


/*Items*/


.item1{
color: white;
background-color: black;
}

.item{
	width: 10%;
	float: left;
	text-align: center;
}




/*effects from hover.css :)*/


/* Trim */
.hvr-trim {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
}
.hvr-trim:before {
  content: '';
  position: absolute;
  border: white solid 4px;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.hvr-trim:hover:before, .hvr-trim:focus:before, .hvr-trim:active:before {
  opacity: 1;
} 


/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/*!!!!!!!!!!!!!!! PAGINATION ARNAUD !!!!!!!!!!!!!!!!*/

/*//////////////////////////////////*/

.pagination-lg .page-link {
    font-size: 0.80rem;
    line-height: 1.5;
    color: black;
}

.pagination.pagination-lg {
    margin-top: 2em;
}

.item1 .item{
	background-color: black;
	color: white;
}

.item:hover{
	background-color: transparent;
	color: grey;
	cursor:  pointer; 
}

.pagination-lg .page-item:first-child .page-link{
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}
.pagination-lg .page-item:last-child .page-link{
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
}

.page-item{
    padding: 0.5rem;
}
.page-link{
    border: inherit;
    border-radius: inherit;
}

/*pricing slider styling*/
.noUi-handle {
    border: 2px solid #000;
    border-radius: 15px;
    background: #fff;
    cursor: default;
    outline: none;
}

.noUi-handle::before{
	display: none;
}

.noUi-handle::after{
	display: none;
}

.noUi-horizontal .noUi-handle {
    width: 13px;
    height: 13px;
    right: -1px;
    top: -4px;
}

.noUi-horizontal {
    height: 5px;
}

.noUi-connect {
    background: #000;
}

/*cart*/

.cart {
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
}

.cart:hover {
	opacity: 0.6;
	transition-duration: 0.5s;
}	

/*login link*/

.login{
	text-align: center;
	padding-top: 2em;
}

.login a{
	color: black;
	text-decoration: none;
}

.login a:hover{
	color: grey;
	text-decoration: none;
}
/*Gestion de la pagination*/

@media screen and (max-width: 1075px){
    .item10{
        display: none;
    }
    .item9{
        display: none;
    }
}

@media screen and (max-width: 875px){
    .item8{
        display: none;
    }
    .item7{
        display: none;
    }
    .powered-by{
        display: none;
    }
}
@media screen and (max-width: 675px){
    .item6{
        display: none;
    }
    .item5{
        display: none;
    }
}

@media screen and (max-width: 991px){
	.login{
		display: none;
	}

	.nav-container {
	    display: none;
	}
}

/*//////////////////////////////////*/








